* {
  box-sizing: border-box;
  font-family: "Fira sans", sans-serif;
}

.container-header {
  height: 80px;
  border-bottom: 1px solid #fff;
}
.hero-page {
  height: 60vh !important;
}
.article-card {
  margin-top: -7rem;
}

.card-disc {
  text-decoration: none;
  color: black;
}

.avatar-sm {
  width: 48px;
  height: 48px;
}

.avatar {
  border-radius: 50%;
}
